nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    overflow: hidden;
    /* background-image: radial-gradient(circle at 13% 47%, rgba(140, 140, 140,0.03) 0%, rgba(140, 140, 140,0.03) 25%,transparent 25%, transparent 100%),radial-gradient(circle at 28% 63%, rgba(143, 143, 143,0.03) 0%, rgba(143, 143, 143,0.03) 16%,transparent 16%, transparent 100%),radial-gradient(circle at 81% 56%, rgba(65, 65, 65,0.03) 0%, rgba(65, 65, 65,0.03) 12%,transparent 12%, transparent 100%),radial-gradient(circle at 26% 48%, rgba(60, 60, 60,0.03) 0%, rgba(60, 60, 60,0.03) 6%,transparent 6%, transparent 100%),radial-gradient(circle at 97% 17%, rgba(150, 150, 150,0.03) 0%, rgba(150, 150, 150,0.03) 56%,transparent 56%, transparent 100%),radial-gradient(circle at 50% 100%, rgba(25, 25, 25,0.03) 0%, rgba(25, 25, 25,0.03) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 55% 52%, rgba(69, 69, 69,0.03) 0%, rgba(69, 69, 69,0.03) 6%,transparent 6%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255)); */
    z-index: 999;
}
nav .logo{
    height: 6.6em;
}
nav ul{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
nav .fas{
    font-size: 2em;
    display: none;
    cursor: pointer;
}
@media screen and (max-width: 1400px){
    nav ul{
        padding: 50px 0;
        width: 0%;
        position: absolute;
        flex-direction: column;
        justify-content: start;
        top: 70px;
        right: 0;
        height: 100vh;
        background-image: radial-gradient(circle at 17% 77%, rgba(17, 17, 17,0.04) 0%, rgba(17, 17, 17,0.04) 50%,rgba(197, 197, 197,0.04) 50%, rgba(197, 197, 197,0.04) 100%),radial-gradient(circle at 26% 17%, rgba(64, 64, 64,0.04) 0%, rgba(64, 64, 64,0.04) 50%,rgba(244, 244, 244,0.04) 50%, rgba(244, 244, 244,0.04) 100%),radial-gradient(circle at 44% 60%, rgba(177, 177, 177,0.04) 0%, rgba(177, 177, 177,0.04) 50%,rgba(187, 187, 187,0.04) 50%, rgba(187, 187, 187,0.04) 100%),linear-gradient(19deg, rgb(28, 117, 250),rgb(34, 2, 159));
    }
    nav ul a{
        width: 100%;
        color: whitesmoke;
        font-weight: 900;
        font-size: 1.1rem;
        padding: 20px;
        border-bottom: 1px solid whitesmoke;
    }
    nav ul a:last-of-type{
        border: none;
    }
    nav .fas{
        display: block;
    }
    nav .btn{
        width: 200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}